
# Week 2 Assignment
User: Tim Lynch <br>
Professor: Charles Pak <br>
Assignment: Week 2


__For this weeks assignment we were supposed to list something challenging about Data Structures.__ 

So far my biggest problem has been understanding that the information given in the Panda's text book isn't the full list of examples. For example, most of the examples in the book for DataFrames only lists 2 columns when in fact you can list way more than that. This caused me issues for the first project, as I thought, I would be constrained by just 2 columns.

It would be more beneficial if the book owner listed different types of examples instead of just sticking to the default that I have found in most python learning material. 

For that reason below you will see 3 examples. The first one will be an example of Panda's Series. The second and third examples will be DataFrames but the first one will just have 2 columns, and the next example will have more than 2.I also import numpy to pull random arrays.<br><br>


__Panda's Series__

In [ ]:
import numpy as np
import pandas as pd

my_numpy_array = np.random.rand(4)

my_series = pd.Series(my_numpy_array, index = ["First", "Second", "Third", "Fourth"])

print (my_series)

__Data Frame with Two Columns and Three rows__

In [4]:
import numpy as np
import pandas as pd

array = np.random.rand(3,2)
df = pd.DataFrame(array)
df.columns = ["First Column", "Second Column"]
df.index = ["First Row", "Second Row", "Third Row"]
print (df)

            First Column  Second Column
First Row       0.361360       0.115891
Second Row      0.118087       0.219423
Third Row       0.305288       0.690863

__Data Frame with 4 Columns and 4 Rows__

In [6]:
import numpy as np
import pandas as pd

array2 = np.random.rand(4,4)
df2 = pd.DataFrame(array2)
df2.columns = ["First Column", "Second Column", "Third Column", "Fourth Column"]
df2.index = ["First Row", "Second Row","Third Row", "Fourth Row"]
print (df2)

            First Column  Second Column  Third Column  Fourth Column
First Row       0.114780       0.387884      0.600886       0.290118
Second Row      0.915718       0.882073      0.775162       0.645295
Third Row       0.642412       0.112155      0.194969       0.433284
Fourth Row      0.577683       0.499369      0.169324       0.938164